body {
    background: #555;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 700px;
    margin: auto;
    text-align: left;
    background: #7bff92;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    float:left;
}
form {
    width: 446px;
    margin: auto;
    text-align: left;
    background: #7bff92;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    float:right;
}
input {
    width: 300px;
    height: 20px;
}
textarea {
    width: 300px;
}
select {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 25px;
}
#button {
    margin-top:10px;
    width: 300px;
    height: 30px;
}
p {
    margin: 0;
}

.post {
    border: solid 1px #ddd;
}
.bold {
    font-weight: bold;
}

h1 {
    margin: auto;
    background: #7bff92;
    padding: 15px 15px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
